{% include "admin_header.html" %}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <div class="theme-setting-wrapper">
          <div id="theme-settings" class="settings-panel">
            <i class="settings-close mdi mdi-close"></i>
            <p class="settings-heading">SIDEBAR SKINS</p>
            <div class="sidebar-bg-options selected" id="sidebar-light-theme">
              <div class="img-ss rounded-circle bg-light border me-3"></div>Light
            </div>
            <div class="sidebar-bg-options" id="sidebar-dark-theme">
              <div class="img-ss rounded-circle bg-dark border me-3"></div>Dark
            </div>
            <p class="settings-heading mt-2">HEADER SKINS</p>
            <div class="color-tiles mx-0 px-4">
              <div class="tiles success"></div>
              <div class="tiles warning"></div>
              <div class="tiles danger"></div>
              <div class="tiles info"></div>
              <div class="tiles dark"></div>
              <div class="tiles default"></div>
            </div>
          </div>
          <div id="layout-settings" class="settings-panel">
            <i class="settings-close mdi mdi-close"></i>
            <div class="d-flex align-items-center justify-content-between border-bottom">
              <p class="settings-heading font-weight-bold border-top-0 mb-3 ps-3 pt-0 border-bottom-0 pb-0">Template Demos </p>
            </div>
            <div class="demo-screen-wrapper">
              <a href="https://www.bootstrapdash.com/demo/purple/jquery/template/demo_1/index.html" target="_blank" class="demo-thumb-image" id="theme-light-switch">
                <img src="../assets/images/screenshots/vertical-light.jpg" alt="demo image">
              </a>
              <a href="https://www.bootstrapdash.com/demo/purple/jquery/template/demo_2/index.html" target="_blank" class="demo-thumb-image">
                <img src="../assets/images/screenshots/vertical-dark.jpg" alt="demo image">
              </a>
              <a href="https://www.bootstrapdash.com/demo/purple/jquery/template/demo_3/index.html" target="_blank" class="demo-thumb-image" id="theme-dark-switch">
                <img src="../assets/images/screenshots/horizontal-light.jpg" alt="demo image">
              </a>
              <a href="https://www.bootstrapdash.com/demo/purple/jquery/template/demo_4/index.html" target="_blank" class="demo-thumb-image">
                <img src="../assets/images/screenshots/horizontal-dark.jpg" alt="demo image">
              </a>
            </div>
          </div>
        </div>
        <div id="right-sidebar" class="settings-panel">
          <i class="settings-close mdi mdi-close"></i>
          <ul class="nav nav-tabs" id="setting-panel" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="todo-tab" data-bs-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="chats-tab" data-bs-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section">CHATS</a>
            </li>
          </ul>
          <div class="tab-content" id="setting-content">
            <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
              <div class="add-items d-flex px-3 mb-0">
                <form class="form w-100">
                  <div class="form-group d-flex">
                    <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                    <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
                  </div>
                </form>
              </div>
              <div class="list-wrapper px-3">
                <ul class="d-flex flex-column-reverse todo-list">
                  <li>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="checkbox" type="checkbox"> Team review meeting at 3.00 PM </label>
                    </div>
                    <i class="remove mdi mdi-close-circle-outline"></i>
                  </li>
                  <li>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="checkbox" type="checkbox"> Prepare for presentation </label>
                    </div>
                    <i class="remove mdi mdi-close-circle-outline"></i>
                  </li>
                  <li>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="checkbox" type="checkbox"> Resolve all the low priority tickets due today </label>
                    </div>
                    <i class="remove mdi mdi-close-circle-outline"></i>
                  </li>
                  <li class="completed">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="checkbox" type="checkbox" checked> Schedule meeting for next week </label>
                    </div>
                    <i class="remove mdi mdi-close-circle-outline"></i>
                  </li>
                  <li class="completed">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="checkbox" type="checkbox" checked> Project review </label>
                    </div>
                    <i class="remove mdi mdi-close-circle-outline"></i>
                  </li>
                </ul>
              </div>
              <div class="events py-4 border-bottom px-3">
                <div class="wrapper d-flex mb-2">
                  <i class="mdi mdi-circle-outline text-primary me-2"></i>
                  <span>Feb 11 2018</span>
                </div>
                <p class="mb-0 font-weight-thin text-gray">Creating component page</p>
                <p class="text-gray mb-0">build a js based app</p>
              </div>
              <div class="events pt-4 px-3">
                <div class="wrapper d-flex mb-2">
                  <i class="mdi mdi-circle-outline text-primary me-2"></i>
                  <span>Feb 7 2018</span>
                </div>
                <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
                <p class="text-gray mb-0 ">Call Sarah Graves</p>
              </div>
            </div>
            <!-- To do section tab ends -->
            <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
              <div class="d-flex align-items-center justify-content-between border-bottom">
                <p class="settings-heading border-top-0 mb-3 ps-3 pt-0 border-bottom-0 pb-0">Friends</p>
                <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pe-3 font-weight-normal">See All</small>
              </div>
              <ul class="chat-list">
                <li class="list active">
                  <div class="profile"><img src="images/faces/face1.html" alt="image"><span class="online"></span></div>
                  <div class="info">
                    <p>Thomas Douglas</p>
                    <p>Available</p>
                  </div>
                  <small class="text-muted my-auto">19 min</small>
                </li>
                <li class="list">
                  <div class="profile"><img src="images/faces/face2.html" alt="image"><span class="offline"></span></div>
                  <div class="info">
                    <div class="wrapper d-flex">
                      <p>Catherine</p>
                    </div>
                    <p>Away</p>
                  </div>
                  <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                  <small class="text-muted my-auto">23 min</small>
                </li>
                <li class="list">
                  <div class="profile"><img src="images/faces/face3.html" alt="image"><span class="online"></span></div>
                  <div class="info">
                    <p>Daniel Russell</p>
                    <p>Available</p>
                  </div>
                  <small class="text-muted my-auto">14 min</small>
                </li>
                <li class="list">
                  <div class="profile"><img src="images/faces/face4.html" alt="image"><span class="offline"></span></div>
                  <div class="info">
                    <p>James Richardson</p>
                    <p>Away</p>
                  </div>
                  <small class="text-muted my-auto">2 min</small>
                </li>
                <li class="list">
                  <div class="profile"><img src="images/faces/face5.html" alt="image"><span class="online"></span></div>
                  <div class="info">
                    <p>Madeline Kennedy</p>
                    <p>Available</p>
                  </div>
                  <small class="text-muted my-auto">5 min</small>
                </li>
                <li class="list">
                  <div class="profile"><img src="images/faces/face6.html" alt="image"><span class="online"></span></div>
                  <div class="info">
                    <p>Sarah Graves</p>
                    <p>Available</p>
                  </div>
                  <small class="text-muted my-auto">47 min</small>
                </li>
              </ul>
            </div>
            <!-- chat tab ends -->
          </div>
        </div>
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        {% include "admin_sidbar.html" %}
                <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                  <i class="mdi mdi-home"></i>
                </span> Dashboard
              </h3>
              <!-- <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                    <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                  </li>
                </ul> -->
              </nav>
            </div>
            <div class="row">
              <!-- Delivery live tracking -->
              <div class="col-md-12 grid-margin stretch-card">
                  <div class="card">
                      <div class="card-body">
                          <h4 class="card-title text-white">Todo</h4>
                          <div class="list-wrapper">
            <h2>SHOPPING</h2>
            <div class="row">
              <div class="col-md-6 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                  <div class="card-body">
                    <img src="https://demo.bootstrapdash.com/purple/jquery/template/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h2 class="font-weight-normal mb-3">deliveryboy satetment <i class="mdi mdi-chart-line mdi-24px float-end"></i>
                    </h2><br><br>
               
                      <div class="row">
                        <div class="col-sm-4">
                          <h4>Received<br><br>
                          &nbsp; ₹{{shopping_received}}</h4>

                        </div>
                        <div class="col-sm-4"><h4>To be Recived<br><br>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹{{shopping_to_be_received}}</h4>

                        </div>
                        <div class="col-sm-4"><h4>Total<br><br>
                          ₹{{shopping_delivery_total}}</h4>
                        </div>
                        
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 stretch-card grid-margin">
                <div class="card bg-gradient-info card-img-holder text-white">
                  <div class="card-body">
                    <img src="https://demo.bootstrapdash.com/purple/jquery/template/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h2 class="font-weight-normal mb-3">Company To Sellar Payment <i class="mdi mdi-bookmark-outline mdi-24px float-end"></i>
                    </h2><br><br>
                    <div class="row">
                      <div class="col-sm-3"><h4>paid<br><br>
                      ₹{{shopping_paid}}</h4>

                      </div>
                      <div class="col-sm-6"><h4>Upcoming Payment<br><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹{{shopping_balance}}</h4>

                      </div>
                      <div class="col-sm-3"><h4>Total<br><br>
                        ₹{{shopping_total}}</h4>
                      </div>
                  </div>
                </div>
              </div>
              </div>
              </div>
              

              <!-- food -->
              <h2>FOOD</h2>
              <div class="row">
                <div class="col-md-6 stretch-card grid-margin">
                  <div class="card bg-gradient-success card-img-holder text-white">
                    <div class="card-body">
                      <img src="https://demo.bootstrapdash.com/purple/jquery/template/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                      <h2 class="font-weight-normal mb-3">deliveryboy satetment <i class="mdi mdi-chart-line mdi-24px float-end"></i>
                      </h2><br><br>
                 
                        <div class="row">
                          <div class="col-sm-4">
                            <h4>Received<br><br>
                            &nbsp; ₹{{food_received}}</h4>
  
                          </div>
                          <div class="col-sm-4"><h4>To be Recived<br><br>
                            ₹{{food_to_be_received}}</h4>
                          </div>
                          <div class="col-sm-4"><h4>Total<br><br>
                            ₹{{food_delivery_total}}</h4>
                          </div>
                          
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 stretch-card grid-margin">
                  <div class="card bg-gradient-primary card-img-holder text-white">
                    <div class="card-body">
                      <img src="https://demo.bootstrapdash.com/purple/jquery/template/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                      <h2 class="font-weight-normal mb-3">Company To Sellar Payment <i class="mdi mdi-bookmark-outline mdi-24px float-end"></i>
                      </h2><br><br>
                      <div class="row">
                        <div class="col-sm-3"><h4>paid<br><br>
                        ₹{{food_paid}}</h4>
  
                        </div>
                        <div class="col-sm-6"><h4>Upcoming Payment<br><br>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹{{food_balance}}</h4>
  
                        </div>
                        <div class="col-sm-3"><h4>Total<br><br>
                          ₹{{food_total}}</h4>
                        </div>
                    </div>
                  </div>
                </div>
                </div>
                </div>
              
<!--  fresh cuts-->
<h2>FRESH CUTS</h2>
<div class="row">
  <div class="col-md-6 stretch-card grid-margin">
    <div class="card bg-gradient-danger card-img-holder text-white">
      <div class="card-body">
        <img src="https://demo.bootstrapdash.com/purple/jquery/template/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
        <h2 class="font-weight-normal mb-3">deliveryboy satetment <i class="mdi mdi-chart-line mdi-24px float-end"></i>
        </h2><br><br>
   
          <div class="row">
            <div class="col-sm-4">
              <h4>Received<br><br>
              &nbsp; ₹{{fresh_received}}</h4>

            </div>
            <div class="col-sm-4"><h4>To be Recived<br><br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹{{fresh_to_be_received}}</h4>

            </div>
            <div class="col-sm-4"><h4>Total<br><br>
              ₹{{fresh_delivery_total}}</h4>
            </div>
            
          </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 stretch-card grid-margin">
    <div class="card bg-gradient-info card-img-holder text-white">
      <div class="card-body">
        <img src="https://demo.bootstrapdash.com/purple/jquery/template/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
        <h2 class="font-weight-normal mb-3">Company To Sellar Payment <i class="mdi mdi-bookmark-outline mdi-24px float-end"></i>
        </h2><br><br>
        <div class="row">
          <div class="col-sm-3"><h4>Paid<br><br>
            ₹{{fresh_paid}}</h4>

          </div>
          <div class="col-sm-6"><h4>Upcoming Payment<br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹{{fresh_balance}}</h4>

          </div>
          <div class="col-sm-3"><h4>Total<br><br>
            ₹{{fresh_total}}</h4>
          </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  

  <!-- Daily Mio -->

  <h2>DAILY MIO</h2>
  <div class="row">
    <div class="col-md-6 stretch-card grid-margin">
      <div class="card bg-gradient-success card-img-holder text-white">
        <div class="card-body">
          <img src="https://demo.bootstrapdash.com/purple/jquery/template/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
          <h2 class="font-weight-normal mb-3">deliveryboy satetment <i class="mdi mdi-chart-line mdi-24px float-end"></i>
          </h2><br><br>
     
            <div class="row">
              <div class="col-sm-4">
                <h4>Received<br><br>
                &nbsp; ₹{{dailymio_received}}</h4>

              </div>
              <div class="col-sm-4"><h4>To be Recived<br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹{{dailymio_to_be_received}}</h4>

              </div>
              <div class="col-sm-4"><h4>Total<br><br>
                ₹{{dailymio_delivery_total}}</h4>
              </div>
              
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 stretch-card grid-margin">
      <div class="card bg-gradient-primary card-img-holder text-white">
        <div class="card-body">
          <img src="https://demo.bootstrapdash.com/purple/jquery/template/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
          <h2 class="font-weight-normal mb-3">Company To Sellar Payment <i class="mdi mdi-bookmark-outline mdi-24px float-end"></i>
          </h2><br><br>
          <div class="row">
            <div class="col-sm-3"><h4>paid<br><br>
              ₹{{dailymio_paid}}</h4>

            </div>
            <div class="col-sm-6"><h4>Upcoming Payment<br><br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹{{dailymio_balance}}</h4>

            </div>
            <div class="col-sm-3"><h4>Total<br><br>
              ₹{{dailymio_total}}</h4>
            </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    
    <!-- Pharmacy -->
    <h2>PHARMACY</h2>
    <div class="row">
      <div class="col-md-6 stretch-card grid-margin">
        <div class="card bg-gradient-danger card-img-holder text-white">
          <div class="card-body">
            <img src="https://demo.bootstrapdash.com/purple/jquery/template/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
            <h2 class="font-weight-normal mb-3">deliveryboy satetment <i class="mdi mdi-chart-line mdi-24px float-end"></i>
            </h2><br><br>
       
              <div class="row">
                <div class="col-sm-4">
                  <h4>Received<br><br>
                  &nbsp; ₹{{pharmacy_received}}</h4>

                </div>
                <div class="col-sm-4"><h4>To be Recived<br><br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹{{pharmacy_to_be_received}}</h4>

                </div>
                <div class="col-sm-4"><h4>Total<br><br>
                  ₹{{pharmacy_delivery_total}}</h4>
                </div>
                
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
          <div class="card-body">
            <img src="https://demo.bootstrapdash.com/purple/jquery/template/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
            <h2 class="font-weight-normal mb-3">Company To Sellar Payment <i class="mdi mdi-bookmark-outline mdi-24px float-end"></i>
            </h2><br><br>
            <div class="row">
              <div class="col-sm-3"><h4>paid<br><br>
                ₹{{pharmacy_paid}}</h4>

              </div>
              <div class="col-sm-6"><h4>Upcoming Payment<br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹{{pharmacy_balance}}</h4>

              </div>
              <div class="col-sm-3"><h4>Total<br><br>
                ₹{{pharmacy_total}}</h4>
              </div>
          </div>
        </div>
      </div>
      </div>
      </div>
      

      <!-- d-original -->
      <h2>D-ORIGINAL</h2>
      <div class="row">
        <div class="col-md-6 stretch-card grid-margin">
          <div class="card bg-gradient-success  card-img-holder text-white">
            <div class="card-body">
              <img src="https://demo.bootstrapdash.com/purple/jquery/template/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
              <h2 class="font-weight-normal mb-3">deliveryboy satetment <i class="mdi mdi-chart-line mdi-24px float-end"></i>
              </h2><br><br>
         
                <div class="row">
                  <div class="col-sm-4">
                    <h4>Received<br><br>
                    &nbsp; ₹{{doriginal_received}}</h4>

                  </div>
                  <div class="col-sm-4"><h4>To be Recived<br><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹{{doriginal_to_be_received}}</h4>

                  </div>
                  <div class="col-sm-4"><h4>Total<br><br>
                    ₹{{doriginal_delivery_total}}</h4>
                  </div>
                  
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 stretch-card grid-margin">
          <div class="card bg-gradient-primary card-img-holder text-white">
            <div class="card-body">
              <img src="https://demo.bootstrapdash.com/purple/jquery/template/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
              <h2 class="font-weight-normal mb-3">Company To Sellar Payment <i class="mdi mdi-bookmark-outline mdi-24px float-end"></i>
              </h2><br><br>
              <div class="row">
                <div class="col-sm-3"><h4>paid<br><br>
                  ₹{{doriginal_paid}}</h4>

                </div>
                <div class="col-sm-6"><h4>Upcoming Payment<br><br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹{{doriginal_balance}}</h4>

                </div>
                <div class="col-sm-3"><h4>Total<br><br>
                  ₹{{doriginal_total}}</h4>
                </div>
            </div>
          </div>
        </div>
        </div>
        </div>
        

        <!-- jewellery-->

        <h2>JEWELLERY</h2>
        <div class="row">
          <div class="col-md-6 stretch-card grid-margin">
            <div class="card bg-gradient-danger card-img-holder text-white">
              <div class="card-body">
                <img src="https://demo.bootstrapdash.com/purple/jquery/template/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h2 class="font-weight-normal mb-3">deliveryboy satetment <i class="mdi mdi-chart-line mdi-24px float-end"></i>
                </h2><br><br>
           
                  <div class="row">
                    <div class="col-sm-4">
                      <h4>Received<br><br>
                      &nbsp; ₹{{jewellery_received}}</h4>

                    </div>
                    <div class="col-sm-4"><h4>To be Recived<br><br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹{{jewellery_to_be_received}}</h4>

                    </div>
                    <div class="col-sm-4"><h4>Total<br><br>
                      ₹{{jewellery_delivery_total}}</h4>
                    </div>
                    
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 stretch-card grid-margin">
            <div class="card bg-gradient-info card-img-holder text-white">
              <div class="card-body">
                <img src="https://demo.bootstrapdash.com/purple/jquery/template/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h2 class="font-weight-normal mb-3">Company To Sellar Payment <i class="mdi mdi-bookmark-outline mdi-24px float-end"></i>
                </h2><br><br>
                <div class="row">
                  <div class="col-sm-3"><h4>paid<br><br>
                    ₹{{jewellery_paid}}</h4>

                  </div>
                  <div class="col-sm-6"><h4>Upcoming Payment<br><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹{{jewellery_balance}}</h4>

                  </div>
                  <div class="col-sm-3"><h4>Total<br><br>
                    ₹{{jewellery_total}}</h4>
                  </div>
              </div>
            </div>
          </div>
          </div>
          </div>
          </div>
</div>
</div>
</div>
</div>
</div>
                </div>
                </div>
              
              <!-- <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-success card-img-holder text-white">
                  <div class="card-body">
                    <img src="https://demo.bootstrapdash.com/purple/jquery/template/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">Total Products <i class="mdi mdi-diamond mdi-24px float-end"></i>
                    </h4>
                    <h2 class="mb-5">95,5741</h2>
                    <h6 class="card-text">Increased by 5%</h6>
                  </div>
                </div>
              </div>
            </div> -->
             <!-- <div class="row">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Recent Orders</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th> Name </th>
                            <th> Product Id</th>
                            <th> Status </th>
                            <th> Order Date </th>
                            <th> Tracking ID </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <img src="../assets/images/favicon.png" class="me-2" alt="image">Shirt
                            </td>
                            <td> #1234</td>
                            <td>
                              <label class="badge badge-gradient-success">Deliverid</label>
                            </td>
                            <td> Dec 5, 2017 </td>
                            <td> WD-12345 </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          {% include "admin_footer.html" %}
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    {% include "script.html" %}   
     <!-- End custom js for this page -->
  </body>

<!-- Mirrored from demo.bootstrapdash.com/purple/jquery/template/demo_1/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 05 Feb 2024 12:21:10 GMT -->
</html>