{% include "admin_header.html" %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close mdi mdi-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme">
            <div class="img-ss rounded-circle bg-light border me-3"></div>Light
          </div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme">
            <div class="img-ss rounded-circle bg-dark border me-3"></div>Dark
          </div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
        <div id="layout-settings" class="settings-panel">
          <i class="settings-close mdi mdi-close"></i>
          <div class="d-flex align-items-center justify-content-between border-bottom">
            <p class="settings-heading font-weight-bold border-top-0 mb-3 ps-3 pt-0 border-bottom-0 pb-0">Template Demos
            </p>
          </div>
          <div class="demo-screen-wrapper">
            <a href="https://www.bootstrapdash.com/demo/purple/jquery/template/demo_1/index.html" target="_blank"
              class="demo-thumb-image" id="theme-light-switch">
              <img src="../assets/images/screenshots/vertical-light.jpg" alt="demo image">
            </a>
            <a href="https://www.bootstrapdash.com/demo/purple/jquery/template/demo_2/index.html" target="_blank"
              class="demo-thumb-image">
              <img src="../assets/images/screenshots/vertical-dark.jpg" alt="demo image">
            </a>
            <a href="https://www.bootstrapdash.com/demo/purple/jquery/template/demo_3/index.html" target="_blank"
              class="demo-thumb-image" id="theme-dark-switch">
              <img src="../assets/images/screenshots/horizontal-light.jpg" alt="demo image">
            </a>
            <a href="https://www.bootstrapdash.com/demo/purple/jquery/template/demo_4/index.html" target="_blank"
              class="demo-thumb-image">
              <img src="../assets/images/screenshots/horizontal-dark.jpg" alt="demo image">
            </a>
          </div>
        </div>
      </div>
      <div id="right-sidebar" class="settings-panel">
        <i class="settings-close mdi mdi-close"></i>
        <ul class="nav nav-tabs" id="setting-panel" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-bs-toggle="tab" href="#todo-section" role="tab"
              aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="chats-tab" data-bs-toggle="tab" href="#chats-section" role="tab"
              aria-controls="chats-section">CHATS</a>
          </li>
        </ul>
        <div class="tab-content" id="setting-content">
          <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel"
            aria-labelledby="todo-section">
            <div class="add-items d-flex px-3 mb-0">
              <form class="form w-100">
                <div class="form-group d-flex">
                  <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                  <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
                </div>
              </form>
            </div>
            <div class="list-wrapper px-3">
              <ul class="d-flex flex-column-reverse todo-list">
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox"> Team review meeting at 3.00 PM </label>
                  </div>
                  <i class="remove mdi mdi-close-circle-outline"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox"> Prepare for presentation </label>
                  </div>
                  <i class="remove mdi mdi-close-circle-outline"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox"> Resolve all the low priority tickets due today </label>
                  </div>
                  <i class="remove mdi mdi-close-circle-outline"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked> Schedule meeting for next week </label>
                  </div>
                  <i class="remove mdi mdi-close-circle-outline"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked> Project review </label>
                  </div>
                  <i class="remove mdi mdi-close-circle-outline"></i>
                </li>
              </ul>
            </div>
            <div class="events py-4 border-bottom px-3">
              <div class="wrapper d-flex mb-2">
                <i class="mdi mdi-circle-outline text-primary me-2"></i>
                <span>Feb 11 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Creating component page</p>
              <p class="text-gray mb-0">build a js based app</p>
            </div>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="mdi mdi-circle-outline text-primary me-2"></i>
                <span>Feb 7 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
              <p class="text-gray mb-0 ">Call Sarah Graves</p>
            </div>
          </div>
          <!-- To do section tab ends -->
          <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
            <div class="d-flex align-items-center justify-content-between border-bottom">
              <p class="settings-heading border-top-0 mb-3 ps-3 pt-0 border-bottom-0 pb-0">Friends</p>
              <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pe-3 font-weight-normal">See
                All</small>
            </div>
            <ul class="chat-list">
              <li class="list active">
                <div class="profile"><img src="images/faces/face1.html" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Thomas Douglas</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">19 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="images/faces/face2.html" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <div class="wrapper d-flex">
                    <p>Catherine</p>
                  </div>
                  <p>Away</p>
                </div>
                <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                <small class="text-muted my-auto">23 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="images/faces/face3.html" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Daniel Russell</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">14 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="images/faces/face4.html" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <p>James Richardson</p>
                  <p>Away</p>
                </div>
                <small class="text-muted my-auto">2 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="images/faces/face5.html" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Madeline Kennedy</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">5 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="images/faces/face6.html" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Sarah Graves</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">47 min</small>
              </li>
            </ul>
          </div>
          <!-- chat tab ends -->
        </div>
      </div>
      <!-- partial -->
      {% include "admin_sidbar.html" %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">
              <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-home"></i>
              </span> Product Appaoval
            </h3>
            <!-- <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                    <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                  </li>
                </ul>
              </nav> -->
          </div>


          </div>



          <div class="row">
            <!-- Delivery live trackibg -->
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                          <div class="card-body">
                            <h4 class="card-title text-white">Todo</h4>
                            <div class="list-wrapper">
                              <div class="row">
                                <!-- Delivery live trackibg -->
                                <div class="dropdown">
                                  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                                    {{region_area}}
                                  </button>
                                  <form method="POST" class="dropdown-menu">
                                    {% csrf_token %}
                                  <select name="region_select" style="
                                  width: 100%;
                                  height: 100%;
                                  border: 0px;
                              " onchange="this.form.submit()">
                              <option value="">Select</option>
                                    <option value="nagercoil">Nagercoil</option>
                                    <option value="kanniyakumari">Kanyakumari</option>
                                    <option value="thuckalay">Tuckalay</option>
                                    <option value="marthandam">Marthandam</option>
                                    <option value="karungal">Karungal</option>
                                    <option value="nithiravilai">Nithiravilai</option>
                                  </select>
                                  <script>

                                  </script>
                                </form>
                                </div>
                              </div>
                    
                <div class="col-md-12 grid-margin stretch-card">
                  
                  <div class="card">
                    <div class="card-body px-0">
                      <h4 class="card-title text-white">Todo</h4>
                      <div class="add-items px-2" style="margin-bottom: 0;">
                        
                        <h2 id="orderlist">Product Approval List

                          <input type="text" name="filter" style="width: 30%;float: inline-end;padding: 8px;border-radius: 6px;font-size: 18px;" id="filter" placeholder="Type to Filter">

                        </h2>
                      </div>
                      <div class="list-wrapper">
                        <div class="container mt-0">
                                <!-- Nav pills -->
                                <ul class="nav nav-pills" role="tablist">
                                  <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="pill" href="#SHOPPING"><div style="position: relative;">SHOPPING<span class="count_order" style="left: 90px;">{{shop_product_length|length}}</span></div></a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="pill" href="#FOOD"><div style="position: relative;">FOOD<span class="count_order" style="left: 60px;">{{food_product_length|length}}</span></div></a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link " data-bs-toggle="pill" href="#FRESH"><div style="position: relative;">FRESH CUTS<span class="count_order" style="left: 110px;">{{fresh_cuts_length|length}}</span></div></a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="pill" href="#DAILY"><div style="position: relative;">DAILY MIO<span class="count_order" style="left: 90px;">{{daily_mio_length|length}}</span></div></a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link " data-bs-toggle="pill" href="#PHARMACY"><div style="position: relative;">PHARMACY<span class="count_order" style="left: 100px;">{{pharmacy_length|length}}</span></div></a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="pill" href="#dORIGINAL"><div style="position: relative;">D-ORIGINAL<span class="count_order" style="left: 103px;">{{d_original_length|length}}</span></div></a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link " data-bs-toggle="pill" href="#JEWELLERY"><div style="position: relative;">JEWELLERY<span class="count_order" style="left: 103px;">{{jwellery_length|length}}</span></div></a>
                                  </li>
                  
                                </ul>
                                              
                                <!-- Tab panes -->
                                <div class="tab-content">
                                  <div id="SHOPPING" class="container tab-pane active"><br>
                                    <div class="table-responsive">
                                      <table class="table" id="dataTable">
                                        <thead>
                                          <tr>
                                            <th> No </th>
                                            <th> Shop Id </th>
                                            <th> Product Id </th>
                                            <th> Product Name </th>
                                            <th> Created Date </th>
                                            <th> Edit </th>
                                            <th> Action </th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                      
                                          {% for i in shopping %}
                                          <tr>
                                            <td>
                                              {{forloop.counter}}
                                            </td>
                                            <td>
                                              {{i.shop_id}}
                                            </td>
                                            <td> {{i.product_id}} </td>
                                            <td style="width: 15%;white-space: normal;"> {{i.product.name}}</td>
                                            <td>{{i.created_date}}</td>
                                            <td> <a href="/admin/edit_product/{{i.product_id}}/{{i.category}}/{{authenticate.username}}"><i class='fa fa-edit' style="font-size: 20px;color: #8B1874;"></i></a></td>
                                            <td>
                                              {% if i.status == "False"  %}
                                              <form method="POST">
                                                {% csrf_token %}
                                              <button type="submit" value="True" name="status" class="action_a">Accept</button>
                                              <button type="button" class="action_a" data-bs-toggle="modal" data-bs-target="#mymodel{{i.product_id}}" style="background-color: red;">Reject</button>
                                              <input type="hidden" name="product_id" value="{{i.product_id}}" id="">
                                              <input type="hidden" name="category" value="{{i.category}}" id="">
                                            </form>
                                              {% elif i.status == "True" %}
                                              <button class="action_a">Accepted</button>
                                              {% elif i.status == "Reject" %}
                                              <button type="button" class="action_a" data-bs-toggle="modal" data-bs-target="#mymodel{{i.product_id}}" style="background-color: red;">Rejected</button>
                                              {% endif %}
                                              
                                          </tr>
                                          <!-- The Modal -->
<div class="modal" id="mymodel{{i.product_id}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Reason</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form method="POST">
          {% csrf_token %}
          <textarea name="reason" id="" cols="30" rows="10" style="width: 100%;">{{i.product.reason}}</textarea>
        
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="submit" name="status" value="Reject" class="btn btn-danger" data-bs-dismiss="modal">Submit</button>
        <input type="hidden" name="product_id" value="{{i.product_id}}" id="">
        <input type="hidden" name="category" value="{{i.category}}" id="">
        

      </div>
    </form>
    </div>
  </div>
</div>
                                          {% endfor %}
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                  <div id="FOOD" class="container tab-pane fade"><br>
                                    <div class="table-responsive">
                                      <table class="table">
                                        <thead>
                                          <tr>
                                            <th> No </th>
                                            <th> Shop Id </th>
                                            <th> Product Id </th>
                                            <th> Product Name </th>
                                            <th> Created Date </th>
                                            <th> Edit </th>
                                            <th> Action </th>
                                          </tr>

                                        </thead>
                                        <tbody>
                                      
                                          {% for i in food_product %}
                                          <tr>
                                            <td>
                                              {{forloop.counter}}
                                            </td>
                                            <td>
                                              {{i.food_id}}
                                            </td>
                                            <td> {{i.product_id}} </td>
                                            <td style="width: 15%;white-space: normal;"> {{i.product.name}}</td>
                                            <td>{{i.created_date}}</td>
                                            <td> <a href="/admin/edit_product/{{i.product_id}}/{{i.category}}/{{authenticate.username}}"><i class='fa fa-edit' style="font-size: 20px;color: #8B1874;"></i></a></td>
                                            <td>
                                              {% if i.status == "False"  %}
                                              <form method="POST">
                                                {% csrf_token %}
                                              <button type="submit" value="True" name="status" class="action_a">Accept</button>
                                              <button type="button" class="action_a" data-bs-toggle="modal" data-bs-target="#mymodel{{i.product_id}}" style="background-color: red;">Reject</button>
                                              <input type="hidden" name="product_id" value="{{i.product_id}}" id="">
                                              <input type="hidden" name="category" value="{{i.category}}" id="">

                                            </form>
                                              {% elif i.status == "True" %}
                                              <button class="action_a">Accepted</button>
                                              {% elif i.status == "Reject" %}
                                              <button type="button" class="action_a" data-bs-toggle="modal" data-bs-target="#mymodel{{i.product_id}}" style="background-color: red;">Rejected</button>
                                              {% endif %}
                                              
                                          </tr>
                                          <!-- The Modal -->
<div class="modal" id="mymodel{{i.product_id}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Reason</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form method="POST">
          {% csrf_token %}
          <textarea name="reason" id="" cols="30" rows="10" style="width: 100%;">{{i.product.reason}}</textarea>
        
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="submit" name="status" value="Reject" class="btn btn-danger" data-bs-dismiss="modal">Submit</button>
        <input type="hidden" name="product_id" value="{{i.product_id}}" id="">
        <input type="hidden" name="category" value="{{i.category}}" id="">

      </div>
    </form>
    </div>
  </div>
</div>
                                          {% endfor %}
                                        </tbody>
                                      </table><br>


                                        </tbody>
                                      </table>
                                    </div>

                                  </div>
                                  <div id="FRESH" class="container tab-pane fade"><br>
                                    <div class="table-responsive">
                                      <table class="table">
                                        <thead>
                                          <tr>
                                            <th> No </th>
                                            <th> Shop Id </th>
                                            <th> Product Id </th>
                                            <th> Product Name </th>
                                            <th> Created Date </th>
                                            <th> Edit </th>
                                            <th> Action </th>
                                          </tr>

                                        </thead>
                                        <tbody>
                                      
                                          {% for i in fresh_cuts %}
                                          <tr>
                                            <td>
                                              {{forloop.counter}}
                                            </td>
                                            <td>
                                              {{i.fresh_id}}
                                            </td>
                                            <td> {{i.product_id}} </td>
                                            <td style="width: 15%;white-space: normal;"> {{i.product.name}}</td>
                                            <td>{{i.created_date}}</td>
                                            <td> <a href="/admin/edit_product/{{i.product_id}}/{{i.category}}/{{authenticate.username}}"><i class='fa fa-edit' style="font-size: 20px;color: #8B1874;"></i></a></td>
                                            <td>
                                              {% if i.status == "False"  %}
                                              <form method="POST">
                                                {% csrf_token %}
                                              <button type="submit" value="True" name="status" class="action_a">Accept</button>
                                              <button type="button" class="action_a" data-bs-toggle="modal" data-bs-target="#mymodel{{i.product_id}}" style="background-color: red;">Reject</button>
                                              <input type="hidden" name="product_id" value="{{i.product_id}}" id="">
                                              <input type="hidden" name="category" value="{{i.category}}" id="">

                                            </form>
                                              {% elif i.status == "True" %}
                                              <button class="action_a">Accepted</button>
                                              {% elif i.status == "Reject" %}
                                              <button type="button" class="action_a" data-bs-toggle="modal" data-bs-target="#mymodel{{i.product_id}}" style="background-color: red;">Rejected</button>
                                              {% endif %}
                                              
                                          </tr>
                                          <!-- The Modal -->
<div class="modal" id="mymodel{{i.product_id}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Reason</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form method="POST">
          {% csrf_token %}
          <textarea name="reason" id="" cols="30" rows="10" style="width: 100%;">{{i.product.reason}}</textarea>
        
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="submit" name="status" value="Reject" class="btn btn-danger" data-bs-dismiss="modal">Submit</button>
        <input type="hidden" name="product_id" value="{{i.product_id}}" id="">
        <input type="hidden" name="category" value="{{i.category}}" id="">

      </div>
    </form>
    </div>
  </div>
</div>
                                          {% endfor %}
                                        </tbody>
                                      </table><br>


                                    
                                    </div>

                                  </div>
                                  <div id="DAILY" class="container tab-pane fade"><br>
                                    <div class="table-responsive">
                                      <table class="table">
                                        <thead>
                                          <tr>
                                            <th> No </th>
                                            <th> Shop Id </th>
                                            <th> Product Id </th>
                                            <th> Product Name </th>
                                            <th> Created Date </th>
                                            <th> Edit </th>
                                            <th> Action </th>
                                          </tr>

                                        </thead>
                                        <tbody>
                                      
                                          {% for i in daily_mio %}
                                          <tr>
                                            <td>
                                              {{forloop.counter}}
                                            </td>
                                            <td>
                                              {{i.dmio_id}}
                                            </td>
                                            <td> {{i.product_id}} </td>
                                            <td style="width: 15%;white-space: normal;"> {{i.product.name}}</td>
                                            <td>{{i.created_date}}</td>
                                            <td> <a href="/admin/edit_product/{{i.product_id}}/{{i.category}}/{{authenticate.username}}"><i class='fa fa-edit' style="font-size: 20px;color: #8B1874;"></i></a></td>
                                            <td>
                                              {% if i.status == "False"  %}
                                              <form method="POST">
                                                {% csrf_token %}
                                              <button type="submit" value="True" name="status" class="action_a">Accept</button>
                                              <button type="button" class="action_a" data-bs-toggle="modal" data-bs-target="#mymodel{{i.product_id}}" style="background-color: red;">Reject</button>
                                              <input type="hidden" name="product_id" value="{{i.product_id}}" id="">
                                              <input type="hidden" name="category" value="{{i.category}}" id="">

                                            </form>
                                              {% elif i.status == "True" %}
                                              <button class="action_a">Accepted</button>
                                              {% elif i.status == "Reject" %}
                                              <button type="button" class="action_a" data-bs-toggle="modal" data-bs-target="#mymodel{{i.product_id}}" style="background-color: red;">Rejected</button>
                                              {% endif %}
                                              
                                          </tr>
                                          <!-- The Modal -->
<div class="modal" id="mymodel{{i.product_id}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Reason</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form method="POST">
          {% csrf_token %}
          <textarea name="reason" id="" cols="30" rows="10" style="width: 100%;">{{i.product.reason}}</textarea>
        
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="submit" name="status" value="Reject" class="btn btn-danger" data-bs-dismiss="modal">Submit</button>
        <input type="hidden" name="product_id" value="{{i.product_id}}" id="">
        <input type="hidden" name="category" value="{{i.category}}" id="">

      </div>
    </form>
    </div>
  </div>
</div>
                                          {% endfor %}
                                        </tbody>
                                      </table><br>



                                    </div>

                                  </div>
                                  <div id="PHARMACY" class="container tab-pane fade"><br>
                                    <div class="table-responsive">
                                      <table class="table">
                                        <thead>
                                          <tr>
                                            <th> No </th>
                                            <th> Shop Id </th>
                                            <th> Product Id </th>
                                            <th> Product Name </th>
                                            <th> Created Date </th>
                                            <th> Edit </th>
                                            <th> Action </th>
                                          </tr>

                                        </thead>
                                        <tbody>
                                      
                                          {% for i in pharmacy %}
                                          <tr>
                                            <td>
                                              {{forloop.counter}}
                                            </td>
                                            <td>
                                              {{i.pharm_id}}
                                            </td>
                                            <td> {{i.product_id}} </td>
                                            <td style="width: 15%;white-space: normal;"> {{i.product.name}}</td>
                                            <td>{{i.created_date}}</td>
                                            <td> <a href="/admin/edit_product/{{i.product_id}}/{{i.category}}/{{authenticate.username}}"><i class='fa fa-edit' style="font-size: 20px;color: #8B1874;"></i></a></td>
                                            <td>
                                              {% if i.status == "False"  %}
                                              <form method="POST">
                                                {% csrf_token %}
                                              <button type="submit" value="True" name="status" class="action_a">Accept</button>
                                              <button type="button" class="action_a" data-bs-toggle="modal" data-bs-target="#mymodel{{i.product_id}}" style="background-color: red;">Reject</button>
                                              <input type="hidden" name="product_id" value="{{i.product_id}}" id="">
                                              <input type="hidden" name="category" value="{{i.category}}" id="">

                                            </form>
                                              {% elif i.status == "True" %}
                                              <button class="action_a">Accepted</button>
                                              {% elif i.status == "Reject" %}
                                              <button type="button" class="action_a" data-bs-toggle="modal" data-bs-target="#mymodel{{i.product_id}}" style="background-color: red;">Rejected</button>
                                              {% endif %}
                                              
                                          </tr>
                                          <!-- The Modal -->
<div class="modal" id="mymodel{{i.product_id}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Reason</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form method="POST">
          {% csrf_token %}
          <textarea name="reason" id="" cols="30" rows="10" style="width: 100%;">{{i.product.reason}}</textarea>
        
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="submit" name="status" value="Reject" class="btn btn-danger" data-bs-dismiss="modal">Submit</button>
        <input type="hidden" name="product_id" value="{{i.product_id}}" id="">
        <input type="hidden" name="category" value="{{i.category}}" id="">

      </div>
    </form>
    </div>
  </div>
</div>
                                          {% endfor %}
                                        </tbody>
                                      </table><br>


                                        </tbody>
                                      </table>
                                    </div>

                                  </div>
                                  <div id="dORIGINAL" class="container tab-pane fade"><br>
                                    <div class="table-responsive">
                                      <table class="table">
                                        <thead>
                                          <tr>
                                            <th> No </th>
                                            <th> Shop Id </th>
                                            <th> Product Id </th>
                                            <th> Product Name </th>
                                            <th> Created Date </th>
                                            <th> Edit </th>
                                            <th> Action </th>
                                          </tr>

                                        </thead>
                                        <tbody>
                                      
                                          {% for i in d_original %}
                                          <tr>
                                            <td>
                                              {{forloop.counter}}
                                            </td>
                                            <td>
                                              {{i.d_id}}
                                            </td>
                                            <td> {{i.product_id}} </td>
                                            <td style="width: 15%;white-space: normal;"> {{i.product.name}}</td>
                                            <td>{{i.created_date}}</td>
                                            <td> <a href="/admin/edit_product/{{i.product_id}}/{{i.category}}/{{authenticate.username}}"><i class='fa fa-edit' style="font-size: 20px;color: #8B1874;"></i></a></td>
                                            <td>
                                              {% if i.status == "False"  %}
                                              <form method="POST">
                                                {% csrf_token %}
                                              <button type="submit" value="True" name="status" class="action_a">Accept</button>
                                              <button type="button" class="action_a" data-bs-toggle="modal" data-bs-target="#mymodel{{i.product_id}}" style="background-color: red;">Reject</button>
                                              <input type="hidden" name="product_id" value="{{i.product_id}}" id="">
                                              <input type="hidden" name="category" value="{{i.category}}" id="">

                                            </form>
                                              {% elif i.status == "True" %}
                                              <button class="action_a">Accepted</button>
                                              {% elif i.status == "Reject" %}
                                              <button type="button" class="action_a" data-bs-toggle="modal" data-bs-target="#mymodel{{i.product_id}}" style="background-color: red;">Rejected</button>
                                              {% endif %}
                                              
                                          </tr>
                                          <!-- The Modal -->
<div class="modal" id="mymodel{{i.product_id}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Reason</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form method="POST">
          {% csrf_token %}
          <textarea name="reason" id="" cols="30" rows="10" style="width: 100%;">{{i.product.reason}}</textarea>
        
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="submit" name="status" value="Reject" class="btn btn-danger" data-bs-dismiss="modal">Submit</button>
        <input type="hidden" name="product_id" value="{{i.product_id}}" id="">
        <input type="hidden" name="category" value="{{i.category}}" id="">

      </div>
    </form>
    </div>
  </div>
</div>
                                          {% endfor %}
                                        </tbody>
                                      </table><br>


                                    

                                        </tbody>
                                      </table>
                                    </div>

                                  </div>
                                  <div id="JEWELLERY" class="container tab-pane fade"><br>
                                    <div class="table-responsive">
                                      <table class="table">
                                        <thead>
                                          <tr>
                                            <th> No </th>
                                            <th> Shop Id </th>
                                            <th> Product Id </th>
                                            <th> Product Name </th>
                                            <th> Created Date </th>
                                            <th> Edit </th>
                                            <th> Action </th>
                                          </tr>

                                        </thead>
                                        <tbody>
                                      
                                          {% for i in jwellery %}
                                          <tr>
                                            <td>
                                              {{forloop.counter}}
                                            </td>
                                            <td>
                                              {{i.jewel_id}}
                                            </td>
                                            <td> {{i.product_id}} </td>
                                            <td style="width: 15%;white-space: normal;"> {{i.product.name}}</td>
                                            <td>{{i.created_date}}</td>
                                            <td> <a href="/admin/edit_product/{{i.product_id}}/{{i.category}}/{{authenticate.username}}"><i class='fa fa-edit' style="font-size: 20px;color: #8B1874;"></i></a></td>
                                            <td>
                                              {% if i.status == "False"  %}
                                              <form method="POST">
                                                {% csrf_token %}
                                              <button type="submit" value="True" name="status" class="action_a">Accept</button>
                                              <button type="button" class="action_a" data-bs-toggle="modal" data-bs-target="#mymodel{{i.product_id}}" style="background-color: red;">Reject</button>
                                              <input type="hidden" name="product_id" value="{{i.product_id}}" id="">
                                              <input type="hidden" name="category" value="{{i.category}}" id="">

                                            </form>
                                              {% elif i.status == "True" %}
                                              <button class="action_a">Accepted</button>
                                              {% elif i.status == "Reject" %}
                                              <button type="button" class="action_a" data-bs-toggle="modal" data-bs-target="#mymodel{{i.product_id}}" style="background-color: red;">Rejected</button>
                                              {% endif %}
                                              
                                          </tr>
                                          <!-- The Modal -->
<div class="modal" id="mymodel{{i.product_id}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Reason</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form method="POST">
          {% csrf_token %}
          <textarea name="reason" id="" cols="30" rows="10" style="width: 100%;">{{i.product.reason}}</textarea>
        
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="submit" name="status" value="Reject" class="btn btn-danger" data-bs-dismiss="modal">Submit</button>
        <input type="hidden" name="product_id" value="{{i.product_id}}" id="">
        <input type="hidden" name="category" value="{{i.category}}" id="">

      </div>
    </form>
    </div>
  </div>
</div>
                                          {% endfor %}
                                        </tbody>
                                      </table><br>



                                        </tbody>
                                      </table>
                                    </div>

                                  </div>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>


                      </div>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
              {% include "admin_footer.html" %}

            </div>
            
          </div>
          </div>
          
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <!-- partial -->
        </div>


        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>


  </div>
  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer.html -->
  <!-- partial -->
  </div>


  <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
  </div>
  </div>
  </div>
</div>
  </div>
  </div>

  {% include "script.html" %}
</body>

<!-- Mirrored from demo.bootstrapdash.com/purple/jquery/template/demo_1/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 05 Feb 2024 12:21:10 GMT -->

</html>