{% include "admin_header.html" %}

  
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close mdi mdi-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme">
            <div class="img-ss rounded-circle bg-light border me-3"></div>Light
          </div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme">
            <div class="img-ss rounded-circle bg-dark border me-3"></div>Dark
          </div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
        <div id="layout-settings" class="settings-panel">
          <i class="settings-close mdi mdi-close"></i>
          <div class="d-flex align-items-center justify-content-between border-bottom">
            <p class="settings-heading font-weight-bold border-top-0 mb-3 ps-3 pt-0 border-bottom-0 pb-0">Template Demos
            </p>
          </div>
          <div class="demo-screen-wrapper">
            <a href="https://www.bootstrapdash.com/demo/purple/jquery/template/demo_1/index.html" target="_blank"
              class="demo-thumb-image" id="theme-light-switch">
              <img src="../assets/images/screenshots/vertical-light.jpg" alt="demo image">
            </a>
            <a href="https://www.bootstrapdash.com/demo/purple/jquery/template/demo_2/index.html" target="_blank"
              class="demo-thumb-image">
              <img src="../assets/images/screenshots/vertical-dark.jpg" alt="demo image">
            </a>
            <a href="https://www.bootstrapdash.com/demo/purple/jquery/template/demo_3/index.html" target="_blank"
              class="demo-thumb-image" id="theme-dark-switch">
              <img src="../assets/images/screenshots/horizontal-light.jpg" alt="demo image">
            </a>
            <a href="https://www.bootstrapdash.com/demo/purple/jquery/template/demo_4/index.html" target="_blank"
              class="demo-thumb-image">
              <img src="../assets/images/screenshots/horizontal-dark.jpg" alt="demo image">
            </a>
          </div>
        </div>
      </div>
      <div id="right-sidebar" class="settings-panel">
        <i class="settings-close mdi mdi-close"></i>
        <ul class="nav nav-tabs" id="setting-panel" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-bs-toggle="tab" href="#todo-section" role="tab"
              aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="chats-tab" data-bs-toggle="tab" href="#chats-section" role="tab"
              aria-controls="chats-section">CHATS</a>
          </li>
        </ul>
        <div class="tab-content" id="setting-content">
          <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel"
            aria-labelledby="todo-section">
            <div class="add-items d-flex px-3 mb-0">
              <form class="form w-100">
                <div class="form-group d-flex">
                  <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                  <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
                </div>
              </form>
            </div>
            <div class="list-wrapper px-3">
              <ul class="d-flex flex-column-reverse todo-list">
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox"> Team review meeting at 3.00 PM </label>
                  </div>
                  <i class="remove mdi mdi-close-circle-outline"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox"> Prepare for presentation </label>
                  </div>
                  <i class="remove mdi mdi-close-circle-outline"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox"> Resolve all the low priority tickets due today </label>
                  </div>
                  <i class="remove mdi mdi-close-circle-outline"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked> Schedule meeting for next week </label>
                  </div>
                  <i class="remove mdi mdi-close-circle-outline"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked> Project review </label>
                  </div>
                  <i class="remove mdi mdi-close-circle-outline"></i>
                </li>
              </ul>
            </div>
            <div class="events py-4 border-bottom px-3">
              <div class="wrapper d-flex mb-2">
                <i class="mdi mdi-circle-outline text-primary me-2"></i>
                <span>Feb 11 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Creating component page</p>
              <p class="text-gray mb-0">build a js based app</p>
            </div>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="mdi mdi-circle-outline text-primary me-2"></i>
                <span>Feb 7 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
              <p class="text-gray mb-0 ">Call Sarah Graves</p>
            </div>
          </div>
          <!-- To do section tab ends -->
          <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
            <div class="d-flex align-items-center justify-content-between border-bottom">
              <p class="settings-heading border-top-0 mb-3 ps-3 pt-0 border-bottom-0 pb-0">Friends</p>
              <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pe-3 font-weight-normal">See
                All</small>
            </div>
            <ul class="chat-list">
              <li class="list active">
                <div class="profile"><img src="images/faces/face1.html" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Thomas Douglas</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">19 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="images/faces/face2.html" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <div class="wrapper d-flex">
                    <p>Catherine</p>
                  </div>
                  <p>Away</p>
                </div>
                <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                <small class="text-muted my-auto">23 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="images/faces/face3.html" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Daniel Russell</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">14 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="images/faces/face4.html" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <p>James Richardson</p>
                  <p>Away</p>
                </div>
                <small class="text-muted my-auto">2 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="images/faces/face5.html" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Madeline Kennedy</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">5 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="images/faces/face6.html" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Sarah Graves</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">47 min</small>
              </li>
            </ul>
          </div>
          <!-- chat tab ends -->
        </div>
      </div>
      <!-- partial -->
      {% include "admin_sidbar.html" %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">
              <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-home"></i>
              </span> Home
            </h3>
            <!-- <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                    <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                  </li>
                </ul>
              </nav> -->
          </div>
          <div class="row">
            <!-- Delivery live trackibg -->

            <div class="form">
              <form method = "POST" onclick="return calculateGrades()">
                {% csrf_token %}
                  <h1>Add User Form</h1>
                  <div class="formcontainer">
                      <hr/>
                      <div class="container">
                          <label for="number1"><strong>USER NAME:</strong></label>
                          <input type="text" placeholder="Enter Username" name="username" id="number1" required><br>
                          <label for="number2"><strong>PASSWORD:</strong></label>
                          <input type="text" placeholder="Enter Password" name="password" id="number2" required><br>
                          <label for="number6"><strong>NAME:</strong></label>
                          <input type="text" placeholder="Enter Name" name="name" id="number6" required><br>
                          <label for="number6"><strong>EMAIL:</strong></label>
                          <input type="text" placeholder="Enter E-mail" name="email" id="number6" required><br>

                          <label for="number7"><strong>PHONE NO:</strong></label>
                          <input type="number" placeholder="Enter PhoneNo" name="phonenumber" id="number7" required><br>
                          
                          <label for="number7"><strong>ACCESS PRIVELEGES:</strong></label><br>
                          <input type="checkbox" value="All" name="access_priveleges" id="checkAll" style="width: 2%;" >&nbsp;&nbsp;ALL<br>
                          <input type="checkbox" value="Home" name="access_priveleges" class="checkbox" style="width: 2%;">&nbsp;&nbsp;Home<br>
                          <input type="checkbox" value="Dashboard" name="access_priveleges" class="checkbox" style="width: 2%;">&nbsp;&nbsp;Dashboard<br>
                          <input type="checkbox" value="Store_Details" name="access_priveleges" class="checkbox" style="width: 2%;">&nbsp;&nbsp;Store Details<br>
                          <input type="checkbox" value="Order_Details" name="access_priveleges" class="checkbox" style="width: 2%;">&nbsp;&nbsp;Order Details<br>
                          <input type="checkbox" value="Banner" name="access_priveleges" class="checkbox" style="width: 2%;">&nbsp;&nbsp;Banner<br>
                          <input type="checkbox" value="Custom_Service" name="access_priveleges" class="checkbox" style="width: 2%;">&nbsp;&nbsp;Custom Service<br>
                          <input type="checkbox" value="Product_Approval" name="access_priveleges" class="checkbox" style="width: 2%;">&nbsp;&nbsp;Product Approval<br>
                          <input type="checkbox" value="Hub" name="access_priveleges" class="checkbox" style="width: 2%;">&nbsp;&nbsp;Hub<br>
                          <input type="checkbox" value="User" name="access_priveleges" class="checkbox" style="width: 2%;">&nbsp;&nbsp;User<br>
                          <input type="checkbox" value="Customer" name="access_priveleges" class="checkbox" style="width: 2%;">&nbsp;&nbsp;Customer<br>
                          <input type="checkbox" value="Delivery_Boy" name="access_priveleges" class="checkbox" style="width: 2%;">&nbsp;&nbsp;Delivery Boy<br>
                          <input type="checkbox" value="Delivery_Commision" name="access_priveleges" class="checkbox" style="width: 2%;">&nbsp;&nbsp;Delivery Commision<br>
                          <input type="checkbox" value="business_Commision" name="access_priveleges" class="checkbox" style="width: 2%;">&nbsp;&nbsp;Delivery Commision<br>

                          <input type="checkbox" value="Shut_Down" name="access_priveleges" class="checkbox" style="width: 2%;">&nbsp;&nbsp;Shut Down<br>
                          <input type="checkbox" value="Zone" name="access_priveleges" class="checkbox" style="width: 2%;">&nbsp;&nbsp;Zone<br>
                          <input type="checkbox" value="Hsn" name="access_priveleges" class="checkbox" style="width: 2%;">&nbsp;&nbsp;Zone<br>

                          <button type="submit">Submit</button><br><br>

                        </div>
                      <br>
                      <div>
                          <!-- <span class="psw"><a href="#"> Forgot password?</a></span> -->
                      </div>
                  </div>
              </form>
              </div>

          </div>
          <script>
            // Get the "check all" checkbox and all individual checkboxes
            const checkAll = document.getElementById('checkAll');
            const checkboxes = document.querySelectorAll('.checkbox');
            
            // Add event listener to the "check all" checkbox
            checkAll.addEventListener('click', function() {
                // Loop through all checkboxes and set their checked property
                checkboxes.forEach(function(checkbox) {
                    checkbox.checked = checkAll.checked;
                });
            });
            </script>



          <div class="row">
            <!-- Delivery live trackibg -->
            </div>
                {% include "admin_footer.html" %}

                {% include "script.html" %}
              </body>
            
            <!-- Mirrored from demo.bootstrapdash.com/purple/jquery/template/demo_1/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 05 Feb 2024 12:21:10 GMT -->
            </html>