{% include "admin_header.html" %}
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close mdi mdi-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme">
            <div class="img-ss rounded-circle bg-light border me-3"></div>Light
          </div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme">
            <div class="img-ss rounded-circle bg-dark border me-3"></div>Dark
          </div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
        <div id="layout-settings" class="settings-panel">
          <i class="settings-close mdi mdi-close"></i>
          <div class="d-flex align-items-center justify-content-between border-bottom">
            <p class="settings-heading font-weight-bold border-top-0 mb-3 ps-3 pt-0 border-bottom-0 pb-0">Template Demos
            </p>
          </div>
          <div class="demo-screen-wrapper">
            <a href="https://www.bootstrapdash.com/demo/purple/jquery/template/demo_1/index.html" target="_blank"
              class="demo-thumb-image" id="theme-light-switch">
              <img src="../assets/images/screenshots/vertical-light.jpg" alt="demo image">
            </a>
            <a href="https://www.bootstrapdash.com/demo/purple/jquery/template/demo_2/index.html" target="_blank"
              class="demo-thumb-image">
              <img src="../assets/images/screenshots/vertical-dark.jpg" alt="demo image">
            </a>
            <a href="https://www.bootstrapdash.com/demo/purple/jquery/template/demo_3/index.html" target="_blank"
              class="demo-thumb-image" id="theme-dark-switch">
              <img src="../assets/images/screenshots/horizontal-light.jpg" alt="demo image">
            </a>
            <a href="https://www.bootstrapdash.com/demo/purple/jquery/template/demo_4/index.html" target="_blank"
              class="demo-thumb-image">
              <img src="../assets/images/screenshots/horizontal-dark.jpg" alt="demo image">
            </a>
          </div>
        </div>
      </div>
      <div id="right-sidebar" class="settings-panel">
        <i class="settings-close mdi mdi-close"></i>
        <ul class="nav nav-tabs" id="setting-panel" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-bs-toggle="tab" href="#todo-section" role="tab"
              aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="chats-tab" data-bs-toggle="tab" href="#chats-section" role="tab"
              aria-controls="chats-section">CHATS</a>
          </li>
        </ul>
        <div class="tab-content" id="setting-content">
          <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel"
            aria-labelledby="todo-section">
            <div class="add-items d-flex px-3 mb-0">
              <form class="form w-100">
                <div class="form-group d-flex">
                  <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                  <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
                </div>
              </form>
            </div>
            <div class="list-wrapper px-3">
              <ul class="d-flex flex-column-reverse todo-list">
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox"> Team review meeting at 3.00 PM </label>
                  </div>
                  <i class="remove mdi mdi-close-circle-outline"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox"> Prepare for presentation </label>
                  </div>
                  <i class="remove mdi mdi-close-circle-outline"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox"> Resolve all the low priority tickets due today </label>
                  </div>
                  <i class="remove mdi mdi-close-circle-outline"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked> Schedule meeting for next week </label>
                  </div>
                  <i class="remove mdi mdi-close-circle-outline"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked> Project review </label>
                  </div>
                  <i class="remove mdi mdi-close-circle-outline"></i>
                </li>
              </ul>
            </div>
            <div class="events py-4 border-bottom px-3">
              <div class="wrapper d-flex mb-2">
                <i class="mdi mdi-circle-outline text-primary me-2"></i>
                <span>Feb 11 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Creating component page</p>
              <p class="text-gray mb-0">build a js based app</p>
            </div>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="mdi mdi-circle-outline text-primary me-2"></i>
                <span>Feb 7 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
              <p class="text-gray mb-0 ">Call Sarah Graves</p>
            </div>
          </div>
          <!-- To do section tab ends -->
          <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
            <div class="d-flex align-items-center justify-content-between border-bottom">
              <p class="settings-heading border-top-0 mb-3 ps-3 pt-0 border-bottom-0 pb-0">Friends</p>
              <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pe-3 font-weight-normal">See
                All</small>
            </div>
            <ul class="chat-list">
              <li class="list active">
                <div class="profile"><img src="images/faces/face1.html" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Thomas Douglas</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">19 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="images/faces/face2.html" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <div class="wrapper d-flex">
                    <p>Catherine</p>
                  </div>
                  <p>Away</p>
                </div>
                <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                <small class="text-muted my-auto">23 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="images/faces/face3.html" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Daniel Russell</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">14 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="images/faces/face4.html" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <p>James Richardson</p>
                  <p>Away</p>
                </div>
                <small class="text-muted my-auto">2 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="images/faces/face5.html" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Madeline Kennedy</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">5 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="images/faces/face6.html" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Sarah Graves</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">47 min</small>
              </li>
            </ul>
          </div>
          <!-- chat tab ends -->
        </div>
      </div>
      <!-- partial -->
      {% include "admin_sidbar.html" %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">
              <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-home"></i>
              </span> Home
            </h3>
            <!-- <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                    <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                  </li>
                </ul>
              </nav> -->
          </div>
          <div class="row">
            <!-- Delivery live trackibg -->



          </div>




          <div class="form">
            <h1 style="color: red;width: 126%;" >{{error}}</h1>
                <h1 style="text-align: center;">Form</h1>
            <form method="POST"  id="myForm">
              {% csrf_token %}
              <label for="number2"><strong>Phone Number:</strong></label>
              <input type="number" value="{{data.phone_number}}" placeholder="Enter Phone Number" name="phone_number" id="phone_number" required>
              {% if error1 == "Invalid OTP" %}
              <script>
                $(document).ready(function(){
                    $("#myModal").modal('show');
                });
            </script>
            {% elif data.phone_number %}
            <button type="button"  name="otp" style="background-color: green;color: white;width: 50%;height: 40px;border-radius: 8px;">VERIFIED</button>

              {% else %}
              <button type="submit" data-bs-toggle="modal" data-bs-target="#myModal" name="otp" style="background-color: green;color: white;">VERIFY NUMBER</button>

              {% endif %}
            </form>
            <h4 style="color:red;">{{error1}}</h4>
            <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <style>
          /* body {
              font-family: Arial, sans-serif;
              margin: 0;
              padding: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 100vh;
              background-color: #f0f0f0;
          } */
          .otp-container {
              text-align: center;
          }
          .otp-input {
              width: 40px;
              height: 40px;
              text-align: center;
              margin: 0 5px;
              font-size: 18px;
              border: 1px solid #ccc;
              border-radius: 5px;
              outline: none;
          }
          @media (max-width: 600px) {
              .otp-input {
                  width: 30px;
                  height: 30px;
                  font-size: 14px;
              }
          }
      </style>
      <div class="otp-container">
          <h2>Enter OTP</h2>
          <form id="otpForm" method="POST">
              {% csrf_token %}
              <input type="text" maxlength="1" class="otp-input" name="otp" id="digit1" required>
              <input type="text" maxlength="1" class="otp-input" name="otp" id="digit2" required>
              <input type="text" maxlength="1" class="otp-input" name="otp" id="digit3" required>
              <input type="text" maxlength="1" class="otp-input" name="otp" id="digit4" required><br><br>
              <button type="submit"  name="" id="" style="
              padding: 10px;
              width: 57%;
              background-color: #8B1874;
              color: white;
              font-weight: 500;
          ">VERIFY</button>
           <h2 style="color: red;" id="pin"></h2>
          </form>
        
      </div>
      <script>
          $(document).ready(function(){
              $('#').submit(function(event) {
                  // Prevent default form submission
                  event.preventDefault();
          
                  // Serialize form data
                  var formData = $(this).serialize();
          
                  // Send AJAX request
                  $.ajax({
                      type: 'POST',
                      url: 'http://127.0.0.1:3000/admin/delivery_boy_add/<add>', // Replace with your server-side script URL
                      data: formData,
                      success: function(response) {
                          // Handle the response from the server
                          // alert('Form submitted successfully!');
                          // You can update UI or do anything with the response here
                      },
                      error: function(xhr, status, error) {
                          // Handle errors
                          console.error(xhr.responseText);
                      }
                  });
              });
          });
          </script>
      
      <script>
          // Automatically move focus to the next input field when a digit is entered
          document.querySelectorAll('.otp-input').forEach(item => {
              item.addEventListener('input', event => {
                  if (event.target.value.length >= 1) {
                      const index = Array.prototype.indexOf.call(item.parentElement.children, item);
                      if (index < 5) {
                          item.parentElement.children[index + 1].focus();
                      }
                  }
              });
              item.addEventListener('keydown', event => {
                  if (event.key === 'Backspace') {
                      const index = Array.prototype.indexOf.call(item.parentElement.children, item);
                      if (index > 0) {
                          item.parentElement.children[index - 1].focus();
                          // item.parentElement.children[index - 1].focus();
                      }
                      
                  }
              });
          });
      </script>
      
        <h4 style="color: red;text-align: center;">{{error1}}</h4>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
            <br>
            <form method="POST"  enctype="multipart/form-data">
              {% csrf_token %}
              
                <div class="formcontainer">
                    <hr/>
                    <div class="container">
                        <label for="number1"><strong>Name:</strong></label>
                        <input type="text" placeholder="Enter Name" value="{{data.name}}" name="name" id="number1" required><br>
                       
                        
                        
                        <label for="number2"><strong>Whats app Number:</strong></label>
                        <input type="number" placeholder="Enter Whats app Number" value="{{data.wp_number}}" name="wp_number" id="number2" required><br>
                        <label for="number7"><strong>E-MAIL:</strong></label>
                        <input type="email" placeholder="Enter E-mail" name="email" value="{{data.email}}"  id="email" required><br>
                        <label for="number2"><strong>Aadhar Number:</strong></label>
                        <input type="number" placeholder="Enter Aadhar Number" value="{{data.aadhar_number}}"  name="aadhar_number" id="number2" required><br>
                        <label for="number2"><strong>Pan Number:</strong></label>
                        <input type="number" placeholder="Enter Pan Number" value="{{data.pan_number}}" name="pan_number" id="number2" required><br>
                        <label for="number2"><strong>Driving License Number:</strong></label>
                        <input type="number" placeholder="Enter Driving License Number" value="{{data.driving_licensenum}}" name="driving_licensenum" id="number2" required><br>
                        <label for="number3"><strong>Profile Picture:</strong></label>
                        <input type="file" value="{{data.profile_picture}}"  name="profile_picture" id="number3" required><br>
    
                        
                        <label for="number4"><strong>Bank Name:</strong></label>
                        <input type="text" placeholder="Enter Bank Name" value="{{data.bank_name}}" name="bank_name" id="number4" required><br>
                        <label for="number2"><strong>Account Number:</strong></label>
                        <input type="number" placeholder="Enter Account  Number" value="{{data.acc_number}}" name="acc_number" id="number2" required><br>
                        <label for="number2"><strong>Name Asper Passbook :</strong></label>
                        <input type="number" placeholder="Enter Name Asper Passbook" value="{{data.name_asper_passbook}}" name="name_asper_passbook" id="number2" required><br>
                        <label for="number2"><strong>Ifsc Code:</strong></label>
                        <input type="number" placeholder="Enter Ifsc code" value="{{data.ifsc_code}}" name="ifsc_code" id="number2" required><br>
                        <label for="number3"><strong>Bank passbook Picture:</strong></label>
                        <input type="file"  name="bank_passbok_pic" value="{{data.bank_passbok_pic}}" id="bank_passbok_pic" required><br>
                        <label for="number3"><strong>Aadhar Card Picture:</strong></label>
                        <input type="file"  name="aadhar_pic" id="aadhar_pic" required><br>
                        <label for="number3"><strong>Pan Card Picture:</strong></label>
                        <input type="file"  name="pan_pic" id="pan_pic" required><br>
                        <label for="number3"><strong>Driving License Picture:</strong></label>
                        <input type="file"  name="drlicence_pic" id="drlicence_pic" required><br>
                        <label for="number2"><strong>Delivery Type:</strong></label>
                        <select name="delivery_type" id="" style="
                        width: 15%;
                        padding: 10px;
                        border-radius: 10px;
                        text-align: center;
                    ">
                          <option value="{{data.delivery_type}}" style="text-align: center;">{{data.delivery_type}}</option>
                          <option value="quick" style="text-align: center;">Quick Delivery</option>
                          <option value="Normal">Normal Delivery</option>
                        </select><br>
                        <label for="number2"><strong>Region:</strong></label>
                        <select class="my-3" name="region" id="" style="
                        width: 15%;
                        padding: 10px;
                        border-radius: 10px;
                        text-align: center;
                    ">
                         <option value="{{data.region}}" style="text-align: center;">{{data.region}}</option>
                          <option value="nagercoil" style="text-align: center;">Nagercoil</option>
                          <option value="kanniyakumari">kanniyakumari</option>
                          <option value="thuckalay">Thuckalay</option>
                          <option value="marthandam">Marthandam</option>
                          <option value="karungal">karungal</option>
                          <option value="nithiravilai">Nithiravilai</option>
                        </select><br>

                        <span id="subbutton"></span>
                        <script>
                          phone = document.getElementById("phone_number").value;
                          if (phone == ""){
                            document.getElementById("subbutton").innerHTML = "<button class=my-4 type=button style=background-color:grey;display:block;opacity:30%;width:50%;height:40px;border-radius:8px;>Register Phone Number First</button><br><br>";

                          }
                          else{
                            document.getElementById("subbutton").innerHTML = "<button class=my-4 type=submit style=display: block;>Submit</button><br><br>";

                          }
                        </script>
                      </div>
                    <br>
                    <div>
                        
                        <!-- <span class="psw"><a href="#"> Forgot password?</a></span> -->
                    </div>
                </div>
            </form>
        </div>

        <script>
          $(document).ready(function(){
              $('#myForm').submit(function(event) {
                  // Prevent default form submission
                  event.preventDefault();
          
                  // Serialize form data
                  var formData = $(this).serialize();
                  alert(formData);
                  // Send AJAX request
                  $.ajax({
                      type: 'POST',
                      url: '', // Replace with your server-side script URL
                      data: formData,
                      success: function(response) {
                          // Handle the response from the server
                          // alert('Form submitted successfully!');
                          // You can update UI or do anything with the response here
                      },
                      error: function(xhr, status, error) {
                          // Handle errors
                          console.error(xhr.responseText);
                      }
                  });
              });
          });
          </script>
          
        {% include "admin_footer.html" %}
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  {% include "script.html" %}
</body>

<!-- Mirrored from demo.bootstrapdash.com/purple/jquery/template/demo_1/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 05 Feb 2024 12:21:10 GMT -->
</html>