{% comment %}  pin your location {% endcomment %}
<button onclick="getLocation()">Get Location</button>

<script>
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }

    function showPosition(position) {
        // alert("Latitude: " + position.coords.latitude + "\nLongitude: " + position.coords.longitude);
        // console.log( position.coords.latitude, position.coords.longitude);
        document.getElementById("latitude").textContent = position.coords.latitude;
         document.getElementById("longitude").textContent = position.coords.longitude;
         
        const latitude = document.getElementById("latitude").textContent;
        const longitude = document.getElementById("longitude").textContent;

        const apiUrl = https://nominatim.openstreetmap.org/reverse?format=json&lat=${latitude}&lon=${longitude};

        fetch(apiUrl)
            .then(response => response.json())
            .then(data => {
                const address = data.display_name || "Address not found";
                document.getElementById("address").textContent = address;
            })
            .catch(error => console.error('Error:', error));
    }

    

    function showError(error) {
        switch(error.code) {
            case error.PERMISSION_DENIED:
                alert("User denied the request for Geolocation.");
                break;
            case error.POSITION_UNAVAILABLE:
                alert("Location information is unavailable.");
                break;
            case error.TIMEOUT:
                alert("The request to get user location timed out.");
                break;
            case error.UNKNOWN_ERROR:
                alert("An unknown error occurred.");
                break;
        }
    }
</script>

 <------------------ end of location ----------------->


 onchange attribute in i class
 if ($button.hasClass('inc')) {
    var newVal = parseInt(quantity) + 1;
    if (existingItemIndex !== -1) {
            Items[existingItemIndex].quantity ++;
            totalPrice += Items[existingItemIndex].sellingPrice;
            itemCount++;

            } else {
                    Items.push({ productId, userId, category, 'quantity':newVal, sellingPrice });
                    }

    
 } else {
     // Don't allow decrementing below zero
    if (quantity > 0) {
      var newVal = parseInt(quantity) - 1;
      if (existingItemIndex !== -1) {
        Items[existingItemIndex].quantity --;
        totalPrice -= Items[existingItemIndex].sellingPrice;
        itemCount--;
        
                }

            }
      else {
        newVal = 0;
        if (Items[existingItemIndex].quantity === 0) {
            Items.splice(index, 1); // Remove product if quantity becomes 0
        }
        
        }
    }