<div class="header-middle pl-sm-0 pr-sm-0 pl-xs-0 pr-xs-0">
    <div class="container-fluid">
        <div class="row">
            <!-- Begin Header Logo Area -->
            <div class="col-lg-3">
                <div class="logo pb-sm-30 pb-xs-30 " style="display: flex;justify-content: center;">
                    <a href="index.html">
                        <img src="images/menu/logo/Miogra_logo.png" style="margin-left:30px;" alt="">
                    </a>
                </div>
            </div>
            <!-- Header Logo Area End Here -->
            <!-- Begin Header Middle Right Area -->
            <div class="col-lg-9 col-md-11 pl-0 ml-sm-15 ml-xs-15">
                <!-- Begin Header Middle Searchbox Area -->
                <form action="#" class="hm-searchbox">
                    <select class="nice-select select-search-category" style="display: none;">
                        <option value="0">All</option>                         
                        <option value="10">Laptops</option>                     
                        <!-- <option value="17">- -  Prime Video</option>                    
                        <option value="20">- - - -  All Videos</option>                     
                        <option value="21">- - - -  Blouses</option>                        
                        <option value="22">- - - -  Evening Dresses</option>                
                        <option value="23">- - - -  Summer Dresses</option>                     
                        <option value="24">- - - -  T-shirts</option>                       
                        <option value="25">- - - -  Rent or Buy</option>                        
                        <option value="26">- - - -  Your Watchlist</option>                     
                        <option value="27">- - - -  Watch Anywhere</option>                     
                        <option value="28">- - - -  Getting Started</option>         
                        <option value="18">- - - -  Computers</option>                      
                        <option value="29">- - - -  More to Explore</option>         
                        <option value="30">- - - -  TV &amp; Video</option>                     
                        <option value="31">- - - -  Audio &amp; Theater</option>               
                        <option value="32">- - - -  Camera, Photo </option>
                        <option value="33">- - - -  Cell Phones</option>                        
                        <option value="34">- - - -  Headphones</option>                     
                        <option value="35">- - - -  Video Games</option>                        
                        <option value="36">- - - -  Wireless Speakers</option>            
                        <option value="19">- - - -  Electronics</option>                        
                        <option value="37">- - - -  Amazon Home</option>                        
                        <option value="38">- - - -  Kitchen &amp; Dining</option>           
                        <option value="39">- - - -  Furniture</option>                      
                        <option value="40">- - - -  Bed &amp; Bath</option>                     
                        <option value="41">- - - -  Appliances</option>                 £
                        <option value="11">TV &amp; Audio</option>                  
                        <option value="42">- -  Chamcham</option>                        
                        <option value="45">- - - -  Office</option>                     
                        <option value="47">- - - -  Gaming</option>                 
                        <option value="48">- - - -  Chromebook</option>                     
                        <option value="49">- - - -  Refurbished</option>                    
                        <option value="50">- - - -  Touchscreen</option>                        
                        <option value="51">- - - -  Ultrabooks</option>                     
                        <option value="52">- - - -  Blouses</option>                        
                        <option value="43">- -  Sanai</option>                        
                        <option value="53">- - - -  Hard Drives</option>                        
                        <option value="54">- - - -  Graphic Cards</option>                      
                        <option value="55">- - - -  Processors (CPU)</option>  
                        <option value="56">- - - -  Memory</option>                     
                        <option value="57">- - - -  Motherboards</option>                       
                        <option value="58">- - - -  Fans &amp; Cooling</option> 
                        <option value="59">- - - -  CD/DVD Drives</option>                      
                        <option value="44">- -  Meito</option>                        
                        <option value="60">- - - -  Sound Cards</option>                        
                        <option value="61">- - - -  Cases &amp; Towers</option>   
                        <option value="62">- - - -  Casual Dresses</option>                     
                        <option value="63">- - - -  Evening Dresses</option>       
                        <option value="64">- - - -  T-shirts</option>                       
                        <option value="65">- - - -  Tops</option>                                 
                        <option value="12">Smartphone</option>                  
                        <option value="66">- -  Camera Accessories</option>                     
                        <option value="68">- - - -  Octa Core</option>                      
                        <option value="69">- - - -  Quad Core</option>                  
                        <option value="70">- - - -  Dual Core</option>                      
                        <option value="71">- - - -  7.0 Screen</option>                     
                        <option value="72">- - - -  9.0 Screen</option>                     
                        <option value="73">- - - -  Bags &amp; Cases</option>                   
                        <option value="67">- -  XailStation</option>                     
                        <option value="74">- - - -  Batteries</option>                      
                        <option value="75">- - - -  Microphones</option>                        
                        <option value="76">- - - -  Stabilizers</option>                        
                        <option value="77">- - - -  Video Tapes</option>                        
                        <option value="78">- - - -  Memory Card Readers</option> 
                        <option value="79">- - - -  Tripods</option>           
                        <option value="13">Cameras</option>                          
                        <option value="14">headphone</option>                                
                        <option value="15">Smartwatch</option>                           
                        <option value="16">Accessories</option> -->
                    </select><div class="nice-select select-search-category" tabindex="0"><span class="current">All</span><ul class="list"><li data-value="0" class="option selected">All</li><li data-value="10" class="option">Laptops</li></ul></div>
                    <input type="text" placeholder="Enter your search key ..." fdprocessedid="l04srr">
                    <button class="li-btn" type="submit" fdprocessedid="rj8qgm"><i class="fa fa-search"></i></button>
                </form>
                <!-- Header Middle Searchbox Area End Here -->
                <!-- Begin Header Middle Right Area -->
                <div class="header-middle-right">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6" style="
                        display: flex;
                        justify-content: center;
                    ">
                    <ul class="hm-menu" style="display: flex;padding-left: 24px;">
                        <!-- Begin Header Middle Wishlist Area -->
                        <li class="hm-wishlist">
                            <a href="wishlist.html">
                                <span class="cart-item-count wishlist-item-count">0</span>
                                <i class="fa fa-heart-o"></i>
                            </a>
                        </li>
                        <!-- Header Middle Wishlist Area End Here -->
                        <!-- Begin Header Mini Cart Area -->
                        <li class="hm-minicart">
                            <div class="hm-minicart-trigger" style="margin-right:30px;">
                                <span class="item-icon"></span>
                                <span class="item-text">
                                    <span class="cart-item-count">2</span>
                                </span>
                            </div>
                            <span></span>
                            <div class="minicart" style="display: none;">
                                <ul class="minicart-product-list">
                                    <li>
                                        <a href="fresh_cuts_single-product.html" class="minicart-product-image">
                                            <img src="images/product/small-size/5.jpg" alt="cart products">
                                        </a>
                                        <div class="minicart-product-details">
                                            <h6><a href="fresh_cuts_single-product.html">Aenean eu tristique</a></h6>
                                            <span>₹ 40 x 1</span>
                                        </div>
                                        <button class="close" title="Remove" fdprocessedid="gh33bi">
                                            <i class="fa fa-close"></i>
                                        </button>
                                    </li>
                                    <li>
                                        <a href="fresh_cuts_single-product.html" class="minicart-product-image">
                                            <img src="images/product/small-size/6.jpg" alt="cart products">
                                        </a>
                                        <div class="minicart-product-details">
                                            <h6><a href="fresh_cuts_single-product.html">Aenean eu tristique</a></h6>
                                            <span>₹ 40 x 1</span>
                                        </div>
                                        <button class="close" title="Remove" fdprocessedid="b4z9y6">
                                            <i class="fa fa-close"></i>
                                        </button>
                                    </li>
                                </ul>
                                <p class="minicart-total">SUBTOTAL: <span>₹ 80.00</span></p>
                                <div class="minicart-button">
                                    <a href="shopping-cart.html" class="li-button li-button-fullwidth li-button-dark">
                                        <span>View Full Cart</span>
                                    </a>
                                    <a href="checkout.html" class="li-button li-button-fullwidth">
                                        <span>Checkout</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <!-- Header Mini Cart Area End Here -->
                    </ul>
                </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6" style="
                    justify-content: center;
                    display: flex;
                ">
                        <button class="signup" fdprocessedid="vzukqa">LOGIN</button>
                    </div>
                </div>
                </div>
                <!-- Header Middle Right Area End Here -->
            </div>
            <!-- Header Middle Right Area End Here -->
        </div>
    </div>
</div>
<!-- Header Middle Area End Here -->
<!-- Begin Header Bottom Area -->
<div class="header-bottom header-sticky d-none d-lg-block d-xl-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <!-- Begin Header Bottom Menu Area -->
                <div class="hb-menu">
                    <nav style="text-align:center;">
                        <ul>
                            <!-- #shopping -->
                            <li class="dropdown-holder mx-3"><a href="/limupa-digital-products-store-ecommerce/index.html">Shopping</a>
                                <!-- <ul class="hb-dropdown">
                                    <li class="active"><a href="">Electronics</a></li>
                                    <li><a href="">Fashion</a></li>
                                    <li><a href="">Kitchen</a></li>
                                    <li><a href="">Appliances</a></li>
                                    <li><a href="">Mobiles</a></li>
                                    <li><a href="">Furniture</a></li>
                                    <li><a href="">Fashion</a></li>
                                    <li><a href="">Toys</a></li>
                                    <li><a href="">Sports & Fitness</a></li>
                                    <li><a href="">Health Care</a></li>
                                    <li><a href="">Books</a></li>
                                    <li><a href="">Personal Care</a></li>
                                    <li><a href="">Pet Supplies</a></li>
                                    <li><a href="">Groceries</a></li>
                                    <li><a href="">Auto Accessories</a></li>


                                    
                                </ul> -->
                            </li>
<!-- #food -->
                            <li class="dropdown-holder mx-3"><a href="/limupa-digital-products-store-ecommerce/food_index.html">Food</a>
                                <!-- <ul class="hb-dropdown">
                                    <li class="active"><a href="">Tiffen</a></li>
                                    <li><a href="">Meals</a></li>
                                    <li><a href="">Briyani</a></li>
                                    <li><a href="">Chicken Variety</a></li>
                                    <li><a href="">Beef & Mutton</a></li>
                                    <li><a href="">Chinese</a></li>
                                    <li><a href="">Pizza</a></li>
                                    <li><a href="">Toys</a></li>
                                    <li><a href="">Tea & Coffee</a></li>
                                    <li><a href="">Ice Creame & Shakes</a></li>
                                    <li><a href="">Fried Chicken</a></li>
                                    <li><a href="">Burger & Sabdwich </a></li>
                                    <li><a href="">Cake</a></li>
                                    <li><a href="">Bakery</a></li>


                                    
                                </ul> -->
                            </li>

<!-- #fresh Cuts    -->
                         <li class="dropdown-holder mx-3"><a href="/limupa-digital-products-store-ecommerce/fresh_cuts_index.html">Fresh Cuts</a>
                                <!-- <ul class="hb-dropdown">
                                    <li class="active"><a href="">Chicken</a></li>
                                    <li><a href="">Mutton</a></li>
                                    <li><a href="">Beef</a></li>
                                    <li><a href="">Fish & Sea Foods</a></li>
                                    <li><a href="">Beef & Mutton</a></li>
                                    <li><a href="">Dry Fish</a></li>
                                    <li><a href="">Prawns</a></li>
                                    <li><a href="">Eggs</a></li>
                                    <li><a href="">Pond Fishes</a></li>
                                    <li><a href="">Meat Masalas</a></li>
                                    <li><a href="">Combo</a></li>
                                    <li><a href=""> Chopped Vegitables </a></li>
                                                                               
                                </ul> -->
                            </li>

<!-- #Daily mio    -->
                         <li class="dropdown-holder mx-3"><a href="/limupa-digital-products-store-ecommerce/daily_mio_index.html">Daily Mio</a>
                            <!-- <ul class="hb-dropdown">
                                <li class="active"><a href="">Grocery</a></li>
                                <li><a href="">Meat</a></li>
                                <li><a href="">Fish</a></li>
                                <li><a href="">Eggs</a></li>
                                <li><a href="">Fruits</a></li>
                                <li><a href="">Vegitables</a></li>
                                <li><a href="">Dairy</a></li>
                                <li><a href="">My List</a></li>
            
                                                                           
                            </ul> -->
                        </li>

<!-- #Pharmacy    -->
                         <li class="dropdown-holder mx-3"><a href="">pharmacy</a>
                            <!-- <ul class="hb-dropdown">
                                <li class="active"><a href="">Allopathy</a></li>
                                <li><a href="">Ayurvedic</a></li>
                                <li><a href="">Siddha</a></li>
                                <li><a href="">Herbal Drinks</a></li>
                                <li><a href="">Unani</a></li>
            
                                                                           
                            </ul> -->
                        </li>
                       
                        <li class="dropdown-holder mx-3"><a href="">Jewellery</a>
                            <!-- <ul class="hb-dropdown">
                                <li class="sub-dropdown-holder"><a href="blog-left-sidebar.html">Gold</a>
                                    <ul class="hb-dropdown hb-sub-dropdown">
                                        <li><a href="blog-2-column.html">Earrings</a></li>
                                        <li><a href="blog-3-column.html">Rings</a></li>
                                        <li><a href="blog-left-sidebar.html">Brazelet</a></li>
                                        <li><a href="blog-right-sidebar.html">Chain</a></li>
                                        <li><a href="blog-right-sidebar.html">Pendants</a></li>
                                        <li><a href="blog-right-sidebar.html">Bangles</a></li>
                                        
                                    </ul>
                                </li>
                                <li class="sub-dropdown-holder"><a href="blog-list-left-sidebar.html">Silver</a>
                                    <ul class="hb-dropdown hb-sub-dropdown">
                                        <li><a href="blog-2-column.html">Earrings</a></li>
                                        <li><a href="blog-3-column.html">Rings</a></li>
                                        <li><a href="blog-left-sidebar.html">Brazelet</a></li>
                                        <li><a href="blog-right-sidebar.html">Chain</a></li>
                                        <li><a href="blog-right-sidebar.html">Pendants</a></li>
                                        <li><a href="blog-right-sidebar.html">Bangles</a></li>
                                        
                                        
                                    </ul>
                                </li>
                                
                            </ul> -->
                        </li>
                        <li class="dropdown-holder mx-3"><a href="/limupa-digital-products-store-ecommerce/used_product_index.html">Used Products</a>
                            <!-- <ul class="hb-dropdown">
                                <li class="active"><a href="">Mobiles</a></li>
                                <li><a href="">Cars</a></li>
                                <li><a href="">Bikes and Scoters</a></li>
                                <li><a href="">Properties</a></li>
                                <li><a href="">Electronics and appliances</a></li>
                                <li><a href="">Furnitures</a></li>
                                <li><a href="">Commercial Vechicles</a></li>
                                <li><a href="">Auto accessories & Space</a></li>
                                <li><a href="">Others</a></li>
            
                                                                           
                            </ul> -->
                        </li>
                        <li class="dropdown-holder mx-3"><a href="/limupa-digital-products-store-ecommerce/doriginal_index.html">Doriginal</a>
                            <!-- <ul class="hb-dropdown">
                                <li class="active"><a href="">Mobiles</a></li>
                                <li><a href="">Cars</a></li>
                                <li><a href="">Bikes and Scoters</a></li>
                                <li><a href="">Properties</a></li>
                                <li><a href="">Electronics and appliances</a></li>
                                <li><a href="">Furnitures</a></li>
                                <li><a href="">Commercial Vechicles</a></li>
                                <li><a href="">Auto accessories & Space</a></li>
                                <li><a href="">Others</a></li>
            
                                                                           
                            </ul> -->
                        </li>
                            <!-- <li class="megamenu-holder"><a href="fresh_cuts-left-sidebar.html">Shop</a>
                                <ul class="megamenu hb-megamenu">
                                    <li><a href="fresh_cuts-left-sidebar.html">Shop Page Layout</a>
                                        <ul>
                                            <li><a href="shop-3-column.html">Shop 3 Column</a></li>
                                            <li><a href="shop-4-column.html">Shop 4 Column</a></li>
                                            <li><a href="fresh_cuts-left-sidebar.html">Shop Left Sidebar</a></li>
                                            <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                            <li><a href="shop-list.html">Shop List</a></li>
                                            <li><a href="shop-list-left-sidebar.html">Shop List Left Sidebar</a></li>
                                            <li><a href="shop-list-right-sidebar.html">Shop List Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="single-product-gallery-left.html">Single Product Style</a>
                                        <ul>
                                            <li><a href="single-product-carousel.html">Single Product Carousel</a></li>
                                            <li><a href="single-product-gallery-left.html">Single Product Gallery Left</a></li>
                                            <li><a href="single-product-gallery-right.html">Single Product Gallery Right</a></li>
                                            <li><a href="single-product-tab-style-top.html">Single Product Tab Style Top</a></li>
                                            <li><a href="single-product-tab-style-left.html">Single Product Tab Style Left</a></li>
                                            <li><a href="single-product-tab-style-right.html">Single Product Tab Style Right</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="fresh_cuts_single-product.html">Single Products</a>
                                        <ul>
                                            <li><a href="fresh_cuts_single-product.html">Single Product</a></li>
                                            <li><a href="single-product-sale.html">Single Product Sale</a></li>
                                        <li class="megamenu-holder"><a href="fresh_cuts-left-sidebar.html">Shop</a>
                                <ul class="megamenu hb-megamenu">
                                    <li><a href="fresh_cuts-left-sidebar.html">Shop Page Layout</a>
                                        <ul>
                                            <li><a href="shop-3-column.html">Shop 3 Column</a></li>
                                            <li><a href="shop-4-column.html">Shop 4 Column</a></li>
                                            <li><a href="fresh_cuts-left-sidebar.html">Shop Left Sidebar</a></li>
                                            <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                            <li><a href="shop-list.html">Shop List</a></li>
                                            <li><a href="shop-list-left-sidebar.html">Shop List Left Sidebar</a></li>
                                            <li><a href="shop-list-right-sidebar.html">Shop List Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="single-product-gallery-left.html">Single Product Style</a>
                                        <ul>
                                            <li><a href="single-product-carousel.html">Single Product Carousel</a></li>
                                            <li><a href="single-product-gallery-left.html">Single Product Gallery Left</a></li>
                                            <li><a href="single-product-gallery-right.html">Single Product Gallery Right</a></li>
                                            <li><a href="single-product-tab-style-top.html">Single Product Tab Style Top</a></li>
                                            <li><a href="single-product-tab-style-left.html">Single Product Tab Style Left</a></li>
                                            <li><a href="single-product-tab-style-right.html">Single Product Tab Style Right</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="fresh_cuts_single-product.html">Single Products</a>
                                        <ul>
                                            <li><a href="fresh_cuts_single-product.html">Single Product</a></li>
                                            <li><a href="single-product-sale.html">Single Product Sale</a></li>
                                            <li><a href="single-product-group.html">Single Product Group</a></li>
                                            <li><a href="single-product-normal.html">Single Product Normal</a></li>
                                            <li><a href="single-product-affiliate.html">Single Product Affiliate</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>    <li><a href="single-product-group.html">Single Product Group</a></li>
                                            <li><a href="single-product-normal.html">Single Product Normal</a></li>
                                            <li><a href="single-product-affiliate.html">Single Product Affiliate</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li> -->
            
                            <li class="mx-3"><a href="about-us.html">About Us</a></li>
                            <li class="mx-3"><a href="">Services</a></li>
                            <li class="mx-3"><a href="">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Header Bottom Menu Area End Here -->
            </div>
        </div>
    </div>
</div>