.payment {
  margin: 5rem auto;
}

.payment_tracking-number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;

  h3:first-child {
    color: white;
    background-color: rgb(40, 210, 40);
    font-weight: 400;
    padding: 1.2rem 1.8rem;
    border-radius: 50%;
  }

  h3:last-child {
    color: green;
    font-weight: 400;
    border: 1px solid greenyellow;
    padding: 1.2rem 1.8rem;
    border-radius: 50%;
  }

  div {
    background-color: rgb(196, 193, 193);
    width: 15rem;
    height: 1px;
  }
}

.payment {
  margin: 4rem;
}

.payment_methods {
  padding: 2rem 0 3rem;
}

.form-check {
  display: flex;
  padding-bottom: 1rem;

  input {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
  }

  label {
    padding-left: 10px;
    padding-top: 5px;
  }
}

.payment_price {
  margin: 4rem 0;
  display: flex;
  flex-direction: row;
}

.green-text {
  color: rgb(48, 235, 48);
}

.payment_total {
  display: flex;
}

button {
  margin-top: 2rem;
  padding: 0.4rem 0.8rem;
  background-color: purple;
  color: white !important;
  border: none;
  border-radius: 5px !important;
  cursor: pointer;
  margin-top: 2rem !important;
}
